/**
 * @name Scribble
 * @author 𝑆ockzy#3458
 * @version 1.0
 * @description A simple discord theme which makes the letters look like they were drawn (because they were)
 * @source 
 */

/* ----------------------------------------------------------------------- */

/* IMPORT SOURCE CODE */

@import url(https://raw.githubusercontent.com/Sockzy/Scribble/main/Source.css);

/* ----------------------------------------------------------------------- */

/* SETTINGS */

:root {
    --word-spacing: 3px;       /* Word spacing */
    --letter-spacing: 0.25px;  /* Letter Spacing */
    --message-line-spacing: 2; /* Line spacing on messages */
}

/* ----------------------------------------------------------------------- */
